#switch{
    flex: 1;
    width: 100%;
    overflow: scroll;
    background-color: #f3f3f3;
}

#active_center_area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#active_center{
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
#active_center_img{
    height: 180px;
    width: 250px;

}

#active_button{
    background-color: #f97297;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}